@import "../var.scss";
@import "../mix.scss";
.slide_min{
    width: 100%;
    padding: 10px;
    @include flex(row, flex-start, stretch, nowrap);
    .slide_picture1 {
        width: 55px;
        height: 55px;
        margin-right: 15px;
        @include bgImg('./image 53.png');
    
    }
    .slide_picture2 {
        width: 55px;
        height: 55px;
        margin-right: 15px;
        @include bgImg('./image 54.png');
    
    }
    .slide_picture3 {
        width: 55px;
        height: 55px;
        margin-right: 15px;
        @include bgImg('./image 55.png');
    
    }
    div{
        overflow: hidden;
        h2{
            @include font(600,16px,22px);
        }
        p{
            @include font(600,13px,18px);
        }
    }
}
